/packages
/.vs
/src/GroupDocs.Signature.MVC.csproj.user
/src/bin
/src/obj
/App_Data/temp
/App_Data/SignatureData
/App_Data/Output
src/Resources/*
!src/Resources/.gitkeep
node_modules
src/package-lock.json
/src/node 
src/DocumentSamples/*
!src/DocumentSamples/.gitkeep
src/Licenses/*
!src/Licenses/.gitkeep